# Стандартний .gitignore для Unity

/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# MemoryCaptures можуть бути великими
/[Mm]emoryCaptures/

# Файли Visual Studio
.vs/
.vscode/
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Згенеровані Unity meta-файли
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Звіти про креші
sysinfo.txt

# Білди
*.apk
*.unitypackage

# Інше
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*.*.bin*
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*
